body{
    background-color: #edd5d5;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.array-container {
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

        
.array-bars {
    width: 4px;
    margin: 1.5px;
    margin-top: 0px;
}

		
header {
  background: repeating-linear-gradient(45deg, #ffffff, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
}
.container {
  padding: 0 60px 0 20px;
  margin: 0 auto;
}
nav {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: 10px;
  height: 60px;
  line-height: 50px;
  transition: 1s linear;
}
nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #665d5d;

}
nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #868686;
  transition: width .5s linear;
}
nav a:hover:after {width: 100%;}

h3 {
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 15px 370px 0px 10px;
    color: Black;
    float: left;
    font-weight: 550;
}